body {

}
	.container {
		background-color: black;
		width: auto;
		height: 100vh;
		position: relative;
		background: url("img/tttbg.png") no-repeat 50% 50%;
		background-size: cover;
	}

	.header {
		font-size: 2em;
		color: green;
		padding-bottom: 10px;
	}

	h1:hover {
		text-transform: uppercase;
		color: blue;
		font-family: cursive;
	}

	span:hover {
		
	}

	.gameSquare {
		#background-color: white;
		#border:2px solid black;
		display: inline-block;
		#float: left;
		#text-align:center;
		#padding:5px;
		#height: 100px;
		#width: 100px;
		#transition: background-color 1s ease;
		#transition: color 1s ease;
	}

#tile {
	width: 200px;
	height: 200px;
}

	.gameSquare:hover {
		background-color: yellow;
		color: red;
	}

	.whoseTurn {
		width: 125px;
		height: 75px;
		position: absolute;
		top: 30%;
		right: 10px;

	}
